body {
    background: linear-gradient(90deg, #0c83a3 0%, #000851 100%);
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container img {
    margin-top: -100px;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 44px;
    font-weight: 800;
    margin-top: -150px;
}

#jokeDisplay {
    font-size: 25px;
    color: aliceblue;
    text-align: center;
    margin-top: -210px;
}

#allDads-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 100px;
}

#dad {
    font-size: 25px;
    color: aliceblue;
    text-align: center;
}

#dad-img {
    width: fit-content;
    padding: 10px;
    border-radius: 50%;
    overflow: hidden;
    height: 150px;
}

#the-dad {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 140px;
    border-radius: 100px;
}

button {
    height: 40px;
    width: 400px;
    font-size: larger;
    border-radius: 20px;
    border-style: none;
    font-weight: 400;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    font-weight: 600;
    border: solid 1px;
    cursor: pointer;
    background: -webkit-linear-gradient(bottom left, rgb(255, 0, 0) 0%, rgb(0, 136, 255) 100%);
}

form{
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

#form-section{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

input{
    height: 30px;
    width: 400px;
    font-size: 18px;
    border-radius: 20px;
    border-style: none;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}